.background {
    background-image: url("Leaf-Frame-Border-PNG-Pic.png");
    background-position: center;
    background-size: cover;
    padding:225px;
    background-repeat: no-repeat;
}

.login{
    background:rgb(113, 141, 118);
	padding:10px;
    float: none;
	border-radius: 15px;
    width:700px;
    height:300px;
}

#h1{
    font-size:75px;
}

#h1-2{
    font-size: 50px;
}

#input{
    width:600px;
    height:50px;
}

.header{
    font-size:75px;
}

body{
    text-align:center;
}